/*@keyframes alertAnimation {
	from {top: -1.5em;}
	to {top: 3.2em;}
}*/

.alertBox {
	position: fixed;
	top: 3.2em;
	left: 50%;
	padding: 0 0.6em;
	text-align: center;
	width: 65%;
	color: white;
	transform: translate(-50%);
	border-radius: 0.4em;
	box-shadow: 0.15em 0.15em 1em rgba(0,0,0,0.6);
	z-index: 3;
/*	animation-name: alertAnimation;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: 2;*/
}

.alertSuccess {
	background-color: skyblue;
}

.alertDanger {
	background-color: red;
}