.navbar {
	width: 100%;
	top: 0;
	position: fixed;
	background-color: #333;
	color: white;
	box-shadow: 0.25em 0.25em 0.8em rgba(0,0,0,0.6);
	z-index: 4;
}

.navbarUl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbarLi {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 0.8em 1.5em;
}

.navbarLiLink {
	color: white;
	text-decoration: none;
}

.navbarLiLink img {
	height: 1em;
	align-content: center;
	margin-left: 2em auto;
	padding: 1em auto;
	display: inline-block;
}

.navbarLi:hover {
	background-color: #222;
}

.statusBar {
	display: block;
	float: right;
	padding: 0.8em 1.5em;
	font-size: 1em;
}

.active {
	background-color: #111 !important;
}

.expander {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 830px) {
  .navbarLi, .statusBar {
  	display: none;
  }
  .expander {
  	display: inline-block;
  	float: right;
  	text-align: right;
  }
  .responsive {
  	display: block;
  	float: none;
  	text-align: left;
  	width: 100%;
  }
  .active {
  	display: block;
  }
}